In [1]:
using CSV
using DataFrames

In [2]:
df = CSV.read("data/medium.csv", DataFrame)

100000×4 DataFrame
    Row │ s      a      r      sp
        │ Int64  Int64  Int64  Int64
────────┼────────────────────────────
      1 │ 24701      3    -25  24701
      2 │ 24701      2   -100  24201
      3 │ 24201      3    -25  24200
      4 │ 24200      4      0  24200
      5 │ 24200      4      0  24200
      6 │ 24200      4      0  24699
      7 │ 24699      3    -25  24199
      8 │ 24199      3    -25  24199
   ⋮    │   ⋮      ⋮      ⋮      ⋮
  99994 │ 18171      7   -225  18667
  99995 │ 18667      6   -100  19163
  99996 │ 19163      7   -225  20159
  99997 │ 20159      1   -225  20156
  99998 │ 20156      1   -225  20653
  99999 │ 20653      1   -225  20650
 100000 │ 25343      3    -25  24712
                   99985 rows omitted

In [3]:
maxs = df[df.r .== 100000, :]

7×4 DataFrame
 Row │ s      a      r       sp
     │ Int64  Int64  Int64   Int64
─────┼─────────────────────────────
   1 │ 31965      4  100000  31469
   2 │ 30464      4  100000  29967
   3 │ 31963      4  100000  31467
   4 │ 27965      4  100000  27967
   5 │ 29966      4  100000  29469
   6 │ 31966      4  100000  31971
   7 │ 33461      4  100000  33467

In [5]:
argmin(df.s)

72243

In [8]:
df[72243, :]

DataFrameRow
   Row │ s      a      r      sp
       │ Int64  Int64  Int64  Int64
───────┼────────────────────────────
 72243 │   643      1   -225   1127